table {
    border-collapse: separate;
    border-radius: 25px 25px 25px 25px;
    table-layout: fixed;
    background: lightgray;
}

table, tr, td {
    border: 2px solid black;
    padding: 5px;
}

td {
    text-align: center;
    width: 5vw;
}

tr {
    height: 5vw;

}